/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9cece;
    padding: 10px;
  }
  
  .logo2-container {
margin-left: 2%;
  }
  
  .logo2-container img {
    width: 120px;
    height: auto;
  }
  
  .menu-container {
    margin-right: 5%;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .menu-item {
    color: #333;
    font-weight: bold;
    
  }
  
  .menu-item  {
    text-decoration: none;
    color: #333;
  }
  
  .menu-item :hover {
    text-decoration: underline;
    color: black;

  }
  .menu-icon {
    margin-right: 5px;
  }
  .add-product{
    width: 50%;
    margin-top:1% ;
    margin-left: 27%;
  }