.footer {
  background-color: #e9dcdc;
  padding: 20px;
  margin-top: 5%;
}

.container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.footer-section {
  flex-basis: 30%;
}

.footer-heading {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}
.footer-links a{
  text-decoration: none;
  color: black;
}
.social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 20px;
  display: block;
  text-decoration: none;
}

.social-icons a:last-child {
  margin-right: 0;
}
.footer-bottom {
  display: block;
  text-align: center;
  font-size: 1.3em;
  margin-top: 3%;
  padding-bottom: 2px
}

